{% extends 'base.html' %}
{% block title %}
북마크
{% endblock %}

{% block content %}

	<h1>북마크 메인 페이지</h1>
	<p>서버에서 동작하는 동적인 HTML 페이지</p>
	{# HTML파일에서 파이썬 코드를 입력하는 방법으로 '{{}}', '{% %}', '{# #}'를 사용할 수 있음 #}
	{# {# #} : 파이썬 주석을  HTML에 표시하는 기법으로 <!--  --> #}
	{# HTML기법의 주석은 노출되지만 파이썬주석은 노출되지 않음 #}
	{# {{ }} : 변수, 함수의 반환값을 HTML에 출력하고 싶을대 사용하는 기법#}
	{# view 함수에서 넘겨준 데이터(사전형)의 키값을 변수이름 처럼 사용할 수 있음 #}
	 
	<p>{{a}} Django!</p>
	
	{# {% %} : 반복문, 조건문, 등과 가은 문법을 사용할 때 표시하는 기법#}
	{# 블록단위로 표시하는 형태를 사용할 수 없으므로 for - endfor if - endif으로 영역을 지정함 #}
	<ul>
		{% for i in b %}
		<li>{{i}} </li>
		{% endfor %}
	</ul> 
{% endblock %}