<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>django로 만드는 홈페이지 {% block title %} {% endblock %}</title>
</head>
<body>
	<h2>나만의 홈페이지</h2>
	<!-- 어플리케이션 메뉴선택 -->
	<a href="{% url 'vote:index' %}">설문조사</a>
	<a href="/">북마크</a>
	<a href="{% url 'blog:index' %}">블로그</a>
	<br>
	<!-- 로그인 상태에 따른 처리 -->
	<!-- 로그인 상태에 따른 처리.user : 사용자 요청 정보중 현재 로그인 되있는 User객체가 담긴 변수
	user.is_authenticated : 사용자가 현재 로그인 되어 있는지 여부를 파악(True, False) -->
	{% if user.is_authenticated %}
		<!-- 로그인이 된 경우 -->
		{{user.last_name}} {{user.first_name}}님 환영합니다!
		<a href="{%url 'login:signout'%}">로그아웃</a>
	{% else %}
		<!-- 로그인이 안된경우 -->
		<a href="{%url 'login:signin'%}">로그인</a>
		<a href="{%url 'login:signup'%}">회원가입</a>
	{% endif %}
	<hr>
	{%block content%}
	{%endblock%}
	<hr>
	<p>서울 종로구</p>
	<p>010-1234-5678</p>
	
</body>
</html>